/* mat-sidenav-container{
    height: 100%;

}

mat-sidenav, mat-sidenav-content{
    padding: 10px;
}

mat-sidenav{
    background-color: whitesmoke;
    width: 200px;
} */



.sidebar{
    margin-top: 30px;
    width: 150px;
}
  